{% extends "@WebProfiler/Profiler/layout.html.twig" %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {{ include("@LsvPusher/icons/pusher.svg.twig") }}
        </span>
        <strong>Pusher</strong>
        <span class="count">
            <span>{{ collector.count }}</span>
        </span>
    </span>
{% endblock %}


{% block panel %}
    <h2>Logs</h2>
    {% include '@LsvPusher/profiler.html.twig' with { 'collector': collector } %}
{% endblock %}
